<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./assets/favicon.svg" />
    <link rel="stylesheet" href="./assets/output.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="A simple personal task/todo list application." property="description">
    <meta property="og:title" content="Tasks" />
    <meta
            property="og:description"
            content="A simple personal task/todo list application."
    />
    <title>Tasks</title>
</head>
<body class="bg-gray-800 p-8 text-white">
<div class="mx-auto max-w-md">
    <h1 class="text-center text-xl font-bold">Tasks</h1>
    <form method="post" class="mb-4" action="/create">
        <label for="task" class="block text-sm font-medium">New Task</label>
        <input
                type="text"
                id="task"
                name="task"
                class="mt-1 w-full rounded-md border bg-gray-700 p-2 text-gray-300 focus:border-blue-500 focus:outline-none"
        />
        <button
                type="submit"
                class="mt-2 rounded-md bg-blue-500 px-4 py-2 text-white"
        >
            Add Task
        </button>
    </form>
    <div id="taskList">
        {{ range . }}
        <div
                class="mb-2 flex items-center justify-between rounded-md bg-gray-800 p-4"
        >
            <div>
                <p class="text-lg font-medium text-gray-300">{{ .Task }}</p>
                <p class="text-sm text-gray-400">Created on: {{ .CreatedAt }}</p>
            </div>
            <form method="post" action="/complete">
                <input id="id" name="id" type="hidden" value="{{ .Id }}"/>
                <button
                        type="submit"
                        class="rounded-md bg-blue-500 px-4 py-2 text-white"
                >
                    Complete
                </button>
            </form>
        </div>
        {{ end }}
    </div>
</div>
</body>
</html>
